@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --primary-color: #6366f1;
    --acent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-grey: #f0f0f0;
    --grey-color: #808080;
    --dark-grey: #555;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    padding: 0.1rem;
    background-color: var(--background-color);
}

.header-content{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
}
.imglogo{
    width: 1.938rem;
    height: 5.875rem;
}
.logo{
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
}
.nav{
    display: none;
    gap: 1.5rem;
}

@media screen and (min-width: 800px){
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;

}

.nav-link:hover{
    color:var(--link-color);
}

.contact{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    padding: 0.75rem 1.5rem;
    color: var(--background-color);
    transform: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
}

@media  screen and (min-width: 800px){
    .contact{
        display: block;
    }
    
}

.contact:hover{
    background-color: #5254f8;
}
.menu{
    display: none;
    border:none;
    border-radius: 0.375rem;
    background-color: var(--background-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
}
.menu-icon{
    width: 1.5rem;
    height: 1.5rem;
}
@media screen and (max-width: 800px){
    .menu-icon{
        display: block;
    }
}

.main-section{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    gap: 2rem;   
}

.content-left{
    text-align: center;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}

@keyframes slidefromleft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}
.section-title{
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--text-color);
    padding: 1rem;
}
.section-desc{
    font-size: 1.125rem;
    color: var(--grey-color);
    
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-now,
.take-tour{
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    padding: 0.75rem 1.5rem;
    color: var(--background-color);
    transform: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
}

.take-tour{
    background-color: var(--dark-grey);
}
.start-now:hover{
    background-color: #5254f8;
}
.take-tour:hover{
    background-color: var(--grey-color);
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}

.image-section{
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 800px){
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    .section-label{
        font-size: 1rem;
    }
    .section-title{
        font-size: 3.6rem;
    }
    .image-section{
        height: 70vh;
    }
    .section-desc{
        width: 75%;
    } 
}

.company-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    animation: slidefromleft 1s ease forwards;;

}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: var(--light-grey);
    border-radius: 0.625rem;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

@media screen and (min-width: 800px) {
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .h2{
        font-size: 1.5rem;
        font-weight: bold;
    }

    
}

.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--grey-color);
    display: flex;
    gap: 0.5rem;
}

.svg-img{
    height: 1.2rem;
}

.logo-txt{
    font-size: 1rem;
}

.features-container{
    background-color: var(--light-grey);
    padding: 2.5rem 0rem;
    text-align: center;
}

.f-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
    
}

.heading{
    font-size: 2.2rem; 
}

.f-decs{
    color: var(--grey-color);
    font-size: 1rem;
}

.head{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grids{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-columns: repeat(2,1fr);
}
 
.f-img{
    height: 1.5rem;
    width: 1.5rem;
}

.img-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.grid{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}


.grid:nth-child(1){
    background-color: #4a90e2;
}
.grid:nth-child(2){
    background-color: #FF6289;
}
.grid:nth-child(3){
    background-color: #fcbf58;
}
.grid:nth-child(4){
    background-color: #44bcf3;
}
.grid:nth-child(5){
    background-color: #77b05d;
}
.grid:nth-child(6){
    background-color: #7d78b1;
}

.head-name{
    margin-top: 0rem;
    margin-bottom: 1rem;
    color: var(--background-color);
    font-weight: bold;
    font-size: 1.3rem;
}

.para{
    color: var(--background-color);
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .grids{
        grid-template-columns: repeat(1,1fr);
    }
    
}

.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.t-head{
    font-size: 1.875rem;
    font-weight: bold;
}

.t-grids{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    padding-left: 4.3rem;
    padding-right: 4.3rem;
}

.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.t-grid{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0.8rem;
    gap: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.t-grid:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid blue;
}

.t-img-container img{
    height: 5rem;
    width: 5rem;
}

.Name{
    font-size: 1rem;
    color: var(--primary-color);
}

.Work{
    font-size: 0.875rem;
    color: #777;
}

.comment{
    color: #555;
    font-size: 0.875rem;
}

@media screen and (max-width: 1000px) {
    .t-grids{
        grid-template-columns: repeat(1,1fr);
    }
}

.newsletter-container{
    background-color: var(--background-color);
    padding: 2rem;
    max-width: 1280px;
    height: 40vh;
    margin: 0 auto;
}

.newsletter-content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-grey);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.news-left{
    width: 50%;
    height: 100%;
    position: relative;
    display: none;
}

.news-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4rem;
}

.news-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.des{
    color: #777;
}

.news-email{
    background-color: var(--background-color);
    padding: 0.5rem 0.75rem;
    border: 1px solid #333;
    border-radius: 4px;
    outline: none;
    color: #ccc;
}

.news-email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8x rgba(16, 34, 197, 0.3);
} 

.send-button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
}

.send-button:hover{
    background-color: #5254f8;
} 

.news-link{
    font-size: 0.75rem;
    color: #777;
}

.n-link{
    text-decoration: underline;
}

@media screen and (min-width: 640px){
    .news-left{
        display: block;
    }
}

.company{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.c-logo{
    height: 1.5rem;
    width: 1.5rem;
}

.footer-container{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 1280px;
    margin: 0 auto;
}

.footer{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 2rem 2rem;
}

.footer-left{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
    width: 25%;
    padding-bottom: 150px;
}
.f-logo{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}
.f-desc{
    display: flex;
    justify-content: start;
    color: var(--grey-color);
}
.f-list{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.f-grid-heading{
    display: flex;
    flex-direction: column;
}
.f-link{
    color: #777;
    display: flex;
    flex-direction: column;
}